.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    font-family: system-ui;
    font-size: 1rem;
    line-height: 1.625;
    font-style: normal;
    font-weight: 300;
    color: white;
    background-color: #222;
}

.Header-companyName {
}
.Header-companyName-title {
    font-size: 25px;
    font-style: normal;
    font-family: system-ui;
    font-weight: 400;
    cursor: pointer;
}

.Header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Header-menu-item {
    font-size: 17px;
    font-weight: 400;
    padding: 0 20px;
    cursor: pointer;
}