.Header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    font-family: system-ui;
    font-size: 1rem;
    line-height: 1.625;
    font-style: normal;
    font-weight: 300;
    color: #4b5865;
    background-color: white;
}
.Header-companyName a {
    text-decoration: none;
    color: inherit;
}
.Header-companyName-title {
    font-size: 25px;
    font-style: normal;
    font-family: system-ui;
    font-weight: 400;
    cursor: pointer;
}
.Header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Header-menu-item {
    font-size: 17px;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
}
.Header-menu-item:hover {
    color: #a1c331;
}
.Header-menu-item a {
    text-decoration: none;
    color: inherit;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .Header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 120px;
    }

    .Header-companyName {
        padding: 10px 0;
    }
    .Header-companyName a {
    }
    .Header-companyName-title {}
    .Header-menu {
        padding: 10px 0;
    }
    .Header-menu-item {}
    .Header-menu-item  {}
    .Header-menu-item:hover {}
    .Header-menu-item a {}
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}